In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [2]:
# Import the data
file_path = Path("Resources/lending_data.csv")
lending_df = pd.read_csv(file_path)
lending_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
#Set features and targets
y = lending_df["loan_status"].values
X = lending_df.drop("loan_status", axis=1) # axis = 1 specifies a column of data

In [4]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, stratify=y, random_state=0)
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
8704,10600.0,7.647,52600,0.429658,5,1,22600
71995,10100.0,7.404,50300,0.403579,4,1,20300
10616,7700.0,6.418,41000,0.268293,2,0,11000
61253,10800.0,7.696,53000,0.433962,5,1,23000
54878,8900.0,6.915,45700,0.343545,3,0,15700

In [5]:
# Create a Logistic Regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=10000)
classifier.fit(X_train, y_train)
print(classifier.score(X_test, y_test))

0.9917715641766405

In [7]:
# Train a Random Forest Classifier model and print the model score
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
from sklearn.ensemble import RandomForestClassifier
classf = RandomForestClassifier(random_state=1, n_estimators=500)
classf.fit(X_train_scaled, y_train)
print(classf.score(X_test_scaled, y_test))

0.9913588526619893